*{
  padding: 0; margin: 0; box-sizing: border-box;
}
:root {
  --main-blue01: #9EC9E2;
  --main-blue02: #82A1D2;
  --main-blue03: #577FCD;
  --main-blue04: #253F7C;
  --main-blue05: #102254;
  --main-skyGray: #EEF5FA;
  --main-white: #FFFFFF;
  --main-grey: #EEEEEE;
  --main-yellow: #FEB820;
}
a {text-decoration: none; color: var(--main-blue05)}
li{list-style: none;}
input {padding: 10px; border-radius: 10px; outline: none; border: 1px solid var(--main-skyGray);}
textarea {padding: 10px; border-radius: 10px; outline: none; border: 1px solid var(--main-skyGray);}
input:focus{outline: none;}
table {border-collapse: collapse; border-spacing: 0;}
th {background: var(--main-skyGray); padding: 5px; text-align: center;}
th:first-child {border-right: 1px solid var(--main-blue01);}
th:last-child {border-left: 1px solid var(--main-blue01);}
td {padding: 5px; border-bottom: 1px solid var(--main-blue01); text-align: center;}
td:first-child {border-right: 1px solid var(--main-blue01);}
td:last-child {border-left: 1px solid var(--main-blue01);}

@font-face{
  font-family: 'Pretendard';
  src: url("./assets/font/PretendardVariable.woff2") format("woff2");
}
body {
  font-family: 'Pretendard', serif;
  color: var(--main-blue05);
}